<div *ngIf="pokemon">
  <div class="name">
    {{ pokemon.name }}
  </div>
  <div class="image">
    <img src="https://via.placeholder.com/350x350" />
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet consectetur adipiscing elit, odio rutrum
    curabitur orci nec sociosqu, dui litora vel vivamus volutpat magna. Vehicula
    blandit nisi magna libero ridiculus, nunc mi tristique congue sagittis
    dictum, quis arcu felis fusce. Iaculis enim ligula habitasse at maecenas
    integer dictumst leo, condimentum malesuada facilisis ullamcorper urna
    phasellus lobortis gravida, cum neque magnis ad commodo dictum dignissim
    feugiat, curae metus libero varius eu luctus pharetra. <br />Velit dictum
    consequat augue sagittis bibendum ullamcorper dignissim urna tellus, donec
    fringilla nec odio risus facilisi vestibulum magnis potenti, pellentesque
    dapibus viverra mus malesuada a litora aptent. Praesent scelerisque
    fringilla odio congue non nisl gravida parturient lacus, vulputate hendrerit
    magnis mus et duis cras mi, pulvinar integer volutpat litora iaculis primis
    erat justo. Metus vulputate penatibus erat molestie risus magnis leo, nisl
    nunc fringilla pretium torquent turpis senectus quisque, habitasse
    condimentum facilisis nam platea curae. Ultrices lectus porttitor vitae
    tempor lacinia sapien ad vestibulum nec, a praesent taciti orci condimentum
    blandit sollicitudin pellentesque, odio sodales et ultricies dictumst morbi
    posuere commodo. Libero litora sagittis at nascetur nam mattis tristique hac
    mus, orci penatibus phasellus netus rhoncus velit mauris nisi ac tortor,
    ullamcorper ad malesuada a condimentum eleifend vivamus mi. <br />Rutrum
    ultrices aptent class ut commodo dui dapibus, netus facilisi viverra tempus
    tempor ac imperdiet augue, suspendisse sed gravida faucibus neque massa.
    Sollicitudin nam mauris habitant interdum dapibus commodo maecenas lacinia
    sociosqu tempor aliquet cursus non potenti, sodales turpis semper nisi
    malesuada curae dictum varius tellus pellentesque orci molestie nibh.
    Elementum proin cubilia sapien penatibus orci ligula et magna arcu, nec
    ullamcorper pellentesque dignissim iaculis massa inceptos. Magna morbi
    pellentesque posuere sem iaculis lacinia platea felis aenean placerat,
    aptent urna id ultrices et fermentum purus tortor mollis.
  </div>
</div>
