.navbar-title {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  text-align: center;
  top: 0;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
