.container {
  display: flex;
  justify-content: center;
}

.dashboard-dimensions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
}

@media (max-width: 700px) {
  .dashboard-dimensions {
    flex-direction: column;
  }
}
